$break: "only screen and (min-width: 426px)";

// colors
$bg: black;
$default: white;
$brown: BurlyWood;

// fonts
$painted: 'Knewave';
$sans: 'Maven Pro';

body {
    background-color: $bg;
    margin: 0;
    font-family: $sans;
}

button {
    background-color: $default;
    color: black;
    border: none;
    padding: .5em;
    font-family: $sans;
    font-size: .75em;
    text-transform: uppercase;
    transition: all .3s;
    border-radius: 10px 10px 0 0;
    outline: 0;
    &:hover {
        background-color: black;
        color: $default;
    }
    @media #{$break} {
        padding: .7em;
        font-size: .9em;
        border-radius: 15px 15px 0 0;
    }
}

.selected {
    background-color: black;
    color: $default;
}

h1 {
    text-align: center;
    margin: 0;
    padding: .7em;
    color: $default;
    background-color: $brown;
    font-family: $painted;
    font-weight: 400;
    font-size: 2.2em;
    text-shadow: 1px 1px 4px black;
    transition: all .3s;
    #color-display {
        color: black;
        -webkit-text-stroke: 1px $default;
        font-family: $sans;
    }
    @media #{$break} {
        font-size: 2.5em;
    }
}

nav {
    display: flex;
    justify-content: center;
    background-color: $default;
    text-align: center;
    #result {
        display: inline-block;
        font-size: .8em;
        padding: .5em;
        width: 13em;
        @media #{$break} {
            font-size: 1em;
        }
    }
}

.container {
    margin: 1.5em auto;
    display: flex;
    flex-flow: row wrap;
    max-width: 40em;
    .circles {
        width: 30%;
        margin: 1.66%;
        background-color: $default;
        padding-bottom: 30%;
        border-radius: 50%;
        transition: background-color .5s;
    }
}
